<footer>
    <div class="footer-container">
        <div class="footer-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-solid fa-inbox"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="foter-company">
           &copy; Connplex Cinema Private Limited
        </div>
        <div class="footer-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>